.picFrame {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
}

.coverpic {
    /* border: 1px solid greenyellow; */
    height: 53vh;
    object-fit: fill;
    width: 100%;
}

.profilepic {
    border: 5px solid white;
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    position: relative;
    bottom: 20vh;
    z-index: 1;
}

.picFrame span{
    font-size: 2em;
    font-weight: 600;
    position: relative;
    bottom: 20vh;
}