.mobileLogout {
    height: 6vh;
    background-color: rgb(20, 80, 177);
    color: white;
    border: none;
    font-size: 1.2em;
    display: none;
}

@media only screen and (min-width: 350px) and (max-width:450px) {
    .mobileLogout {
        display: block;
    }
}