.card {
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.header h1{
    color: rgb(20, 80, 177);
}

.registerForm {
    display: flex;
    flex-direction: column;
}

.registerForm input{
    margin: 2vh 0px;
    height: 6vh;
    border-radius: 4px;
    border: 1px rgb(180, 180, 180) solid;
    padding-left: 1vw;
    font-size: 1.2em;
}

#submit {
    background-color: rgb(20, 80, 177);
    color: white;
    padding-left: 0px;
}

#unsubmit{
    background-color: rgb(118, 137, 168);
    color: rgb(219, 219, 219);
    cursor: not-allowed;
}

.registerButton{
    margin: 2vh 0px;
    height: 6vh;
    font-size: 1.2em;
    border-radius: 4px;
    background-color: rgb(0, 170, 37);
    border: none;
    color: white;
}

.error {
    background-color: rgb(245, 224, 224);
    border: 1px solid rgb(224, 81, 81);
}

.errorMsg{
    text-align: center;
    color: rgb(224, 81, 81);
}


@media only screen and (min-width: 350px) and (max-width:450px) {
    .card {
        width: 100%;
        box-shadow: none;
        padding: 0px;
    }

    .registerForm input{
        margin: 2vh 1.2vw;
    }

    .radioButtons label {
        position: relative;
        right: 4vw;
        top: 0.5vh;
        /* top: 2.5vh; */
        margin: 0px;
        padding: 0px;
    }

    .radioButtons input {
        width: 7vw;
        height: 7vw;
        margin: 0px;
        padding: 0px;
    }

    .registerForm input{
        font-size: 1.2em;
        padding-left: 2vw;
    }

    .registerButton {
        margin: 2vh 1.2vw;
    }
}